@font-face {
    font-family: 'Gilda Display', serif;
    src: url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
}

@font-face {
    font-family: 'Overpass', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap');
}

@font-face {
    font-family: 'Oswald', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');;

}
